ziggo/src/com/sigma/samp/imp/voiceClec/jeaProtocols/LGOSSAsyncResp/wsdl/Provisioning_ASAPVoiceAsyn.wsdl

<wsdl:definitions name="provisioning_ASAPVoice"
	targetNamespace="http://www.sigma.com/provisioning_ASAPVoice/Schema"
	xmlns:tns="http://www.sigma.com/provisioning_ASAPVoice/Schema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://www.sigma.com/Provisioning_ASAPVoice/wsdl/Schema/">
	<wsdl:types>
		<xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.sigma.com/provisioning_ASAPVoice/Schema">
			<xs:element name="provisioning_ASAPVoice_result">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="header">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="originator" type="xs:string" maxOccurs="1" minOccurs="1" />
									<xs:element name="requestID" type="xs:string" maxOccurs="1" minOccurs="1"/>
									<xs:element name="status" type="tns:statusType" />
									<xs:element name="errorcode" type="xs:string" maxOccurs="1" minOccurs="1"/>
									<xs:element name="errormessage" type="xs:string" />
								</xs:sequence>

							</xs:complexType>

						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:simpleType name="statusType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SUCCESS" />
					<xs:enumeration value="ERROR" />
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="provisioning_ASAPVoice_resultResponse"
				type="tns:provisioning_ASAPVoice_resultResponseType" />


			<xs:complexType name="provisioning_ASAPVoice_resultResponseType">
				<xs:sequence>
					<xs:element name="status" type="xsd:string"></xs:element>
				</xs:sequence>
			</xs:complexType>


		</xs:schema>
	</wsdl:types>
	<wsdl:message name="provisioning_ASAPVoice_resultResponse">
		<wsdl:part element="tns:provisioning_ASAPVoice_resultResponse"
			name="parameters" />
	</wsdl:message>

	<wsdl:message name="provisioning_ASAPVoice_result">
		<wsdl:part element="tns:provisioning_ASAPVoice_result" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="PS_NL_Provisioning_ASAPVoice_WS">
		<wsdl:operation name="invoke">
			<wsdl:input message="tns:provisioning_ASAPVoice_result" />
			<wsdl:output message="tns:provisioning_ASAPVoice_resultResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PS_NL_Provisioning_ASAPVoice_SOAP"
		type="tns:PS_NL_Provisioning_ASAPVoice_WS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="invoke">
			<soap:operation soapAction="provisioning_ASAPVoice" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="provisioning_ASAPVoice">
		<wsdl:port binding="tns:PS_NL_Provisioning_ASAPVoice_SOAP"
			name="PS_NL_Provisioning_ASAPVoice_SOAP">
			<soap:address location="http://server:port/relativeURI" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
